Repository guppy0356/Dominia: changes, and which lefthook commands are due for each by the changed paths.
All: biome, type-check

lefthook.yml:

pre-commit:
  piped: true
  commands:
    biome:
      priority: 1
      glob: "*.{js,ts,jsx,tsx,json,jsonc}"
      run: npx biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
      stage_fixed: true

    type-check:
      priority: 2
      glob: "*.{ts,tsx}"
      run: npm run type-check

Add drizzle-seed for database seeding support
  package-lock.json
  package.json
Due: biome

Configure path alias (@/*) and migrate to @/ imports
  package-lock.json
  package.json
  src/db/client.ts
  src/index.tsx
  test/env.d.ts
  test/index.test.ts
  tsconfig.json
  vite.config.ts
  vitest.config.ts
Due: biome, type-check

Refactor routing structure using Hono best practices
  src/index.tsx
  src/middleware/auth.ts
  src/middleware/renderer.tsx
  src/routes/entries/index.tsx
Due: biome, type-check

Update documentation for new routing structure
  CLAUDE.md
  docs/architecture.md
Due: none

Move test/index.test.ts to src/routes/entries/ for colocation
  CLAUDE.md
  docs/architecture.md
  docs/testing.md
  src/routes/entries/index.test.ts
  tsconfig.json
Due: biome, type-check

Add @faker-js/faker for test data generation
  package-lock.json
  package.json
Due: biome

Refactor JWT test helper naming for clarity
  src/routes/entries/index.test.ts
  test/helpers/jwt.ts
Due: biome, type-check

Make JWKS_URI required and refactor test mocking
  .env.sample
  .env.test
  docs/architecture.md
  docs/testing.md
  src/routes/entries/index.test.ts
  src/types.ts
Due: biome, type-check

Update generated types for JWKS_URI requirement
  worker-configuration.d.ts
Due: biome, type-check

Document test infrastructure updates in testing.md
  docs/testing.md
Due: none

Update roadmap with JSON response and seed data tasks
  README.md
Due: none

Convert GET /entries to JSON API and remove HTML rendering
  docs/architecture.md
  docs/testing.md
  src/index.tsx
  src/middleware/renderer.tsx
  src/routes/entries/index.test.ts
  src/routes/entries/index.ts
Due: biome, type-check

Improve JSON API response patterns and optimize Vite configuration
  CLAUDE.md
  docs/architecture.md
  src/index.ts
  src/routes/entries/index.test.ts
  src/routes/entries/index.ts
  src/types.ts
  vite.config.ts
  wrangler.jsonc
Due: biome, type-check

Add drizzle-zod for schema validation
  package-lock.json
  package.json
Due: biome

Move entry type definitions to schema module
  src/routes/entries/index.test.ts
  src/routes/entries/index.ts
  src/routes/entries/schema.ts
  src/types.ts
Due: biome, type-check

Document drizzle-zod validation layer and fix JWKS_URI fallback
  docs/architecture.md
  src/middleware/auth.ts
Due: biome, type-check

Extract error handling to global onError handler
  src/errorHandler.ts
  src/index.ts
  src/routes/entries/index.ts
Due: biome, type-check

Rename database() to createDrizzleClient() for clarity
  docs/architecture.md
  scripts/db-clean.ts
  src/db/client.ts
  src/routes/entries/index.ts
Due: biome, type-check

Remove unused style.css file
  src/style.css
Due: none

Use generic error message in global error handler
  src/errorHandler.ts
Due: biome, type-check

Implement RFC 9457 Problem Details for error responses
  src/errorHandler.test.ts
  src/errorHandler.ts
  src/routes/entries/index.test.ts
  src/routes/entries/schema.ts
  src/schema.ts
Due: biome, type-check

Simplify test structure with authenticated helper
  src/routes/entries/index.test.ts
  test/helpers/jwt.ts
Due: biome, type-check

Add test data generation with drizzle-seed
  src/routes/entries/index.test.ts
Due: biome, type-check

Add GitHub Actions CI workflows
  .github/workflows/cleanup.yml
  .github/workflows/lint.yml
  .github/workflows/test.yml
Due: none

Use official Biome CI setup instead of reviewdog
  .github/workflows/lint.yml
Due: none

Generate .dev.vars.test dynamically in CI
  .github/workflows/test.yml
Due: none

Add dotenv-cli dev dependency
  package-lock.json
  package.json
Due: biome

Replace $npm_execpath with npm in scripts
  package.json
Due: biome

Simplify drizzle config by using dotenv-cli
  drizzle.config.ts
  drizzle.test.config.ts
  package.json
Due: biome, type-check

Remove parseEnv helper in favor of direct envSchema usage
  drizzle.config.ts
  scripts/generate-dev-vars.ts
  src/types.ts
Due: biome, type-check

Revert to env vars instead of .dev.vars.test in CI
  .github/workflows/test.yml
Due: none

Add debug logging to entries route for production error investigation
  src/routes/entries/index.ts
Due: biome, type-check

Remove ws dependency in favor of native WebSocket
  package-lock.json
  package.json
  src/db/client.ts
  vitest.config.ts
Due: biome, type-check

Test if fetchMock enableNetConnect is needed for CI
  docs/testing.md
  test/helpers/jwt.ts
Due: biome, type-check

Add JWKS_URI env var to wrangler config for production
  wrangler.jsonc
Due: biome

Add enableDbConnect/disableDbConnect helpers for test setup
  src/routes/entries/index.test.ts
  test/helpers/jwt.ts
Due: biome, type-check

Fix Neon action output name: db_url_with_pooler → db_url_pooled
  .github/workflows/test.yml
Due: none

Debug: show DATABASE_URL hostname
  .github/workflows/test.yml
Due: none

Add trivial test for CI verification
  src/routes/entries/index.test.ts
Due: biome, type-check

Allow all network connections in enableDbConnect()
  test/helpers/jwt.ts
Due: biome, type-check
