Repository guppy0356/Dominia: changes, and which lefthook commands are due for each by the changed paths.
All: biome, type-check

lefthook.yml:

pre-commit:
  piped: true
  commands:
    biome:
      priority: 1
      glob: "*.{js,ts,jsx,tsx,json,jsonc}"
      run: npx biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
      stage_fixed: true

    type-check:
      priority: 2
      glob: "*.{ts,tsx}"
      run: npm run type-check

Enable fetchMock network connect for Neon HTTP API in CI
  .github/workflows/test.yml
  src/routes/entries/index.test.ts
  test/helpers/jwt.ts
Due: biome, type-check

Add debug logging for DATABASE_URL in CI
  .github/workflows/test.yml
Due: none

Use HTTP-only mode for Neon in CI/Production
  src/db/client.ts
Due: biome, type-check

Allow external network connections via miniflare outboundService
  src/db/client.ts
  vitest.config.ts
Due: biome, type-check

Enable HTTP mode for local DB connections to match production
  src/db/client.ts
  test/helpers/jwt.ts
Due: biome, type-check

Fix Neon action output name to use correct db_url_pooled
  .github/workflows/test.yml
Due: none

Create .dev.vars.test file in CI for vitest-pool-workers
  .github/workflows/test.yml
Due: none

Add simple assertion test for demonstration
  src/routes/entries/index.test.ts
Due: biome, type-check

Add transaction test to verify db_url_pooled behavior
  src/routes/entries/index.test.ts
Due: biome, type-check

Add vars to env.test in wrangler config to fix inheritance warning
  wrangler.jsonc
Due: biome

Remove debug logging from entries route
  src/routes/entries/index.ts
Due: biome, type-check

Use schema-only branch type and explicit parent for Neon CI branches
  .github/workflows/test.yml
Due: none

Update testing documentation to reflect current codebase
  docs/testing.md
Due: none

Update architecture docs to reflect current codebase
  docs/architecture.md
Due: none

Add db:studio scripts for Drizzle Studio
  package.json
Due: biome

Rename test:prepare and test:clean to db:* pattern
  .github/workflows/test.yml
  CLAUDE.md
  docs/testing.md
  package.json
Due: biome

Add PWA share_target endpoint for saving URLs
  public/manifest.json
  src/index.ts
  src/routes/share/index.test.ts
  src/routes/share/index.ts
  vitest.config.ts
Due: biome, type-check

Add root endpoint and /manifest.json
  public/manifest.json
  src/index.ts
Due: biome, type-check

Rename app from KeepLater to Dominia
  src/index.ts
Due: biome, type-check

Add PWA icons and update manifest.json
  public/favicon.ico
  public/icon-192x192.png
  public/icon-512x512.png
  src/index.ts
Due: biome, type-check

Update icon purpose to "any maskable"
  src/index.ts
Due: biome, type-check

Update PWA icons
  public/icon-192x192.png
  public/icon-512x512.png
Due: none

Update favicon
  public/favicon.ico
Due: none

Refactor share route to use zValidator middleware
  package-lock.json
  package.json
  src/routes/share/index.ts
  src/routes/share/schema.ts
Due: biome, type-check

Update dependencies via npm audit fix
  package-lock.json
Due: biome

Add alg parameter to jwk middleware for Hono v4.11.4 compatibility
  src/middleware/auth.ts
Due: biome, type-check

Integrate Neon branch cleanup into test workflow
  .github/workflows/cleanup.yml
  .github/workflows/test.yml
Due: none

Add db:truncate scripts for table truncation
  package.json
  scripts/db-truncate.ts
Due: biome, type-check

Use db:truncate in test workflow for faster DB preparation
  .github/workflows/test.yml
Due: none

Add simple testing
  src/routes/entries/index.test.ts
Due: biome, type-check

test
  package.json
  scripts/db-truncate.ts
Due: biome, type-check

Refactor db-truncate to use npm-level dotenv loading
  package.json
  scripts/db-truncate.ts
Due: biome, type-check

Refactor db-clean to use npm-level dotenv loading
  package.json
  scripts/db-clean.ts
Due: biome, type-check

Remove push trigger from lint workflow
  .github/workflows/lint.yml
Due: none

Merge lint and test workflows into quality.yml
  .github/workflows/lint.yml
  .github/workflows/quality.yml
Due: none

Update test
  src/routes/entries/index.test.ts
Due: biome, type-check

Add Cloudflare deploy workflow
  .github/workflows/deploy.yml
Due: none

Fix wrangler deploy command
  .github/workflows/deploy.yml
Due: none
